body {
    margin: 0;
    padding: 0;
}

#title-p {
    font-size: 24px;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-bottom: 2px solid black;
}

.food-container > p {
    border: 2px solid black;
    width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.food-container > p > strong {
    text-align: center;
    display: block;
    font-size: 18px;
    border-bottom: 1px solid black;
}

.nav-bar {
    font-size: 18px;
    color: rgb(50, 50, 50);
    background-color: rgb(202, 202, 202);
    height: 50px;
    display: flex;
    align-items: center;
}

.nav-bar > a {
    text-decoration: none;
    margin: 0;
    color: black;
}