body {
    margin: 0;
    padding: 0;
    overflow-x: visible;
}

.restaurang-information {
    width: 100vw;
    height: 180px;
    background-color: rgb(25, 183, 25);
}

.restaurang-icon {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    line-height: 150px;
    text-align: center;
    border-radius: 100%;
    object-fit: scale-down;
    background-color: white;
    margin-left: 8px;
    margin-top: 60px;
    border: 2px solid black;
    user-select: none;
}

.restaurang-location {
    margin-bottom: 50px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    visibility: visible;
}

#location-button {
    visibility: hidden;
}

.rätter-container {
    display: flex;
    align-items: center;
    width: 100vw;
    margin-top: 50px;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.item-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.item-name,
.item-price {
    margin-left: 8px;
}

/*Ät.*/
.lunch-wrapper {
    margin-top: 20px;
    display: flex;
}

.lunch-wrapper > .lunch-block > h4 {
    margin-left: 8px;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    display: inline;
}

.week-h2 {
    margin-top: 50px;
    margin-left: 10px;
}

.lunch-block > p {
    border: 2px solid black;
    min-height: 100px;
    margin-left: 20px;
}

.lunch-block .right > p {
    border-left: none;
}