body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


.loading-screen {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100vw;
    height: 120vh;
    z-index: 10;
    background-color: rgb(160, 160, 160);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.2s ease;
}

.loading-screen-invis {
    opacity: 0;
}

.loading-screen > p {
    color: white;
    font-size: 32px;
    margin: 0;
}


.nav-bar {
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar > div {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.nav-bar > a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    white-space: nowrap;
}

.nav-bar-button {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
}

.nav-bar-compact-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 10px;
}

.nav-bar-compact-div > a {
    text-decoration: none;
    color: black;
}

.nsu-nav-bar-button {
    padding-right: 20px;
}

.nav-bar-line {
    height: 6px;
    margin-top: -5px;
    margin-bottom: 5px;
    background-color: rgb(0, 0, 0);
    width: 50px;
    border-radius: 15px;
    transition: margin-left 0.2s ease, width 0.2s ease, opacity 0.2s ease;
}

.invisible-line {
    opacity: 0;
}

.nav-bar-line ~ .invisible {
    background-color: rgba(0, 0, 0, 0);
}

.restaurang-information {
    width: 100vw;
    height: 180px;
    background-color: rgb(184, 184, 184);
}

.restaurang-icon {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    line-height: 150px;
    text-align: center;
    border-radius: 100%;
    object-fit: scale-down;
    background-color: white;
    margin-left: 8px;
    margin-top: 60px;
    border: 2px solid black;
    user-select: none;
    position: absolute;
    top:60px;
    box-shadow: 0px 0px 15px 10px white;
}


.rätter-container {
    display: flex;
    align-items: center;
    width: 100vw;
    margin-top: 50px;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.item-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.item-name,
.item-price {
    margin-left: 8px;
}

/*Ät. och nsu*/
.lunch-wrapper {
    margin-top: 20px;
    display: flex;
}

.lunch-wrapper > .lunch-block > h4 {
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    display: inline;
}

.lunch-wrapper > .lunch-block > p > strong {
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    display: block;
}

.lunch-wrapper > .lunch-block > p {
    padding-left: 8px;
}

.at-wrapper > .lunch-block > p > h4 {
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

.week-h2 {
    margin-top: 50px;
    margin-left: 10px;
    font-style: unset;
}

.week-h2 .nsu-week {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.lunch-block > p {
    border: 2px solid black;
    min-height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.lunch-block .right > p {
    border-left: none;
}

#current-day {
    border-color: rgb(0, 255, 64);
    box-shadow: 0 0 15px 5px rgb(0, 255, 64);
}

/*Hemköp*/
.hemkop-lunch-wrapper {
    margin-top: 60px;
}

.lunch-block {
    width: 50vw;
}

@media screen and (max-width: 430px) {
    .nav-bar-compact-div > a:nth-child(1) {
        display: none;
    }
}